flows_WeatherStation.json
[
    {
        "id": "98599c92.29678",
        "type": "tab",
        "label": "UI-Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fb2c9086.08daa",
        "type": "ui_button",
        "z": "98599c92.29678",
        "name": "",
        "group": "3aa5a87e.8fc0e",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Refresh Things from UI",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 470,
        "y": 80,
        "wires": [
            [
                "d5cdf133.8e8d78",
                "d5601a8b.c7152"
            ]
        ]
    },
    {
        "id": "d6f536fd.d3cd08",
        "type": "inject",
        "z": "98599c92.29678",
        "name": "Automatic Thing refresh",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "fb2c9086.08daa"
            ]
        ]
    },
    {
        "id": "17a713c0.0af84c",
        "type": "ui_chart",
        "z": "98599c92.29678",
        "name": "",
        "group": "c9175c00.15155",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Luftfeuchtigkeit",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 840,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c03b03b4.9ef4b",
        "type": "ui_chart",
        "z": "98599c92.29678",
        "name": "",
        "group": "c9175c00.15155",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperatur",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 830,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "c7f92319.220f68",
        "type": "ui_table",
        "z": "98599c92.29678",
        "group": "3aa5a87e.8fc0e",
        "name": "Thing Table",
        "order": 1,
        "width": "24",
        "height": "18",
        "columns": [
            {
                "field": "title",
                "title": "Name",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "description",
                "title": "Beschreibung",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "dc637431.6723a",
        "type": "ui_chart",
        "z": "98599c92.29678",
        "name": "",
        "group": "c9175c00.15155",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Regen",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1070,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8f50038a.a32c5",
        "type": "function",
        "z": "98599c92.29678",
        "name": "Change boolean to int",
        "func": "if (msg.payload == false) {\n    msg.payload = 0;\n}\nelse {\n    msg.payload = 1;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 860,
        "y": 340,
        "wires": [
            [
                "dc637431.6723a"
            ]
        ]
    },
    {
        "id": "796ff16e.11758",
        "type": "exec",
        "z": "98599c92.29678",
        "command": "python3 /home/pi/to_display.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1190,
        "y": 700,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "30df97cb.e2704",
        "type": "function",
        "z": "98599c92.29678",
        "name": "Create Table for Display",
        "func": "let cats = \"\";\nlet vals = \"\";\n\nlet data = global.get(\"display_data\");\nlet loc = \"\";\n\nif (typeof msg.loc !== \"undefined\") {\n    loc = msg.loc;\n}\n\nif (typeof msg.rain !== \"undefined\") {\n    name = \"Rain\";\n    unit = \"\";\n    value = msg.rain;\n}\nelse if (typeof msg.temperature !== \"undefined\") {\n    if (loc == \"\") {\n        name = \"Temperature\";\n    }\n    else {\n        name = \"T (\" + loc + \")\";\n    }\n    unit = \"°C\";\n    value = msg.temperature;\n}\nelse if (typeof msg.humidity !== \"undefined\") {\n    if (loc == \"\") {\n        name = \"Humidity\";\n    }\n    else {\n        name = \"Hum. (\" + loc + \")\";\n    }\n    unit = \"%\";\n    value = msg.humidity;\n}\n\nif (typeof name !== \"undefined\") {\n    data[name] = {\"val\": value, \"unit\": unit};\n    global.set(\"display_data\", data);\n}\n\nlet keys = Object.keys(data);\nfor (let s of keys) {\n    \n    val = data[s][\"val\"]\n    if (typeof val == \"boolean\")\n    {\n        if (val == true)\n        {\n            val = \"Yes\";\n        }\n        else\n        {\n            val = \"No\";\n        }\n    }\n    cats = cats + s + \":\" + \"\\n\";\n    vals = vals + val + data[s][\"unit\"] + \"\\n\";\n}\n\ntext = \"\\\"\" + cats + \"\\\" \\\"\" + vals + \"\\\"\";\nmsg = {};\nmsg.payload = text;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 700,
        "wires": [
            [
                "1f029216.62c04e"
            ]
        ]
    },
    {
        "id": "1f029216.62c04e",
        "type": "rbe",
        "z": "98599c92.29678",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 730,
        "y": 700,
        "wires": [
            [
                "ca08f049.cc40c"
            ]
        ]
    },
    {
        "id": "ca08f049.cc40c",
        "type": "delay",
        "z": "98599c92.29678",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "8",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 920,
        "y": 700,
        "wires": [
            [
                "796ff16e.11758"
            ]
        ]
    },
    {
        "id": "865d91fb.f490b8",
        "type": "wot-scripting",
        "z": "98599c92.29678",
        "name": "Read Temperature",
        "operationType": "readProperty",
        "affordanceName": "temperature",
        "affordanceType": "saref:temperature",
        "inputValue": "",
        "filterMode": "@type",
        "cacheMinutes": "",
        "outputVar": "temperature",
        "outputPayload": true,
        "outputVarType": "msg",
        "x": 570,
        "y": 400,
        "wires": [
            [
                "c03b03b4.9ef4b",
                "8a75931.ea18c7"
            ]
        ]
    },
    {
        "id": "527c1ae0.4906e4",
        "type": "inject",
        "z": "98599c92.29678",
        "name": "Refresh values (every 20s)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": "6",
        "topic": "",
        "payload": "thingDescriptions",
        "payloadType": "flow",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "d183b5cb.727de8"
            ]
        ]
    },
    {
        "id": "d183b5cb.727de8",
        "type": "split",
        "z": "98599c92.29678",
        "name": "Turn TD map into individual messages",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "id",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "f24351e6.ed7de"
            ]
        ]
    },
    {
        "id": "f24351e6.ed7de",
        "type": "change",
        "z": "98599c92.29678",
        "name": "Rearrange message properties",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.title",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "thingDescription",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 480,
        "wires": [
            [
                "865d91fb.f490b8",
                "3b4dab4e.049e3c",
                "a28d637a.48c738"
            ]
        ]
    },
    {
        "id": "3b4dab4e.049e3c",
        "type": "wot-scripting",
        "z": "98599c92.29678",
        "name": "Read Humidity",
        "operationType": "readProperty",
        "affordanceName": "humidity_value",
        "affordanceType": "saref:Humidity",
        "inputValue": "",
        "filterMode": "@type",
        "cacheMinutes": "",
        "outputVar": "humidity",
        "outputPayload": true,
        "outputVarType": "msg",
        "x": 560,
        "y": 460,
        "wires": [
            [
                "17a713c0.0af84c",
                "8a75931.ea18c7"
            ]
        ]
    },
    {
        "id": "d5cdf133.8e8d78",
        "type": "wot-discovery",
        "z": "98599c92.29678",
        "name": "Discover and save TDs in Context",
        "useCoap": true,
        "coapUseIPv6": true,
        "coapIPv6Address": "all",
        "coapUseIPv4": false,
        "coapIPv4Address": "all",
        "useMqtt": "",
        "mqttBrokerAddress": "",
        "timeoutRemoval": true,
        "removalTime": 15,
        "msgOrContext": "both",
        "msgProperty": "",
        "msgPropertyType": "msg",
        "contextVar": "",
        "contextVarType": "flow",
        "deleteExistingTDs": true,
        "coreURI": false,
        "tdURI": true,
        "useCoreRD": false,
        "coreRDUseIPv6": false,
        "coreRDUseIPv4": false,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "407e369b.7ee4"
            ]
        ]
    },
    {
        "id": "407e369b.7ee4",
        "type": "change",
        "z": "98599c92.29678",
        "name": "Get TDs from Context",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "thingDescriptions",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "49e2248d.50474c"
            ]
        ]
    },
    {
        "id": "d5601a8b.c7152",
        "type": "change",
        "z": "98599c92.29678",
        "name": "Clear Table and Display Data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "display_data",
                "pt": "global",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 80,
        "wires": [
            [
                "c7f92319.220f68"
            ]
        ]
    },
    {
        "id": "a28d637a.48c738",
        "type": "wot-scripting",
        "z": "98599c92.29678",
        "name": "Read Rain Value",
        "operationType": "readProperty",
        "affordanceName": "water_value",
        "affordanceType": "saref:Water",
        "inputValue": "",
        "filterMode": "@type",
        "cacheMinutes": "",
        "outputVar": "rain",
        "outputPayload": true,
        "outputVarType": "msg",
        "x": 570,
        "y": 520,
        "wires": [
            [
                "8f50038a.a32c5",
                "8a75931.ea18c7"
            ]
        ]
    },
    {
        "id": "49e2248d.50474c",
        "type": "function",
        "z": "98599c92.29678",
        "name": "Convert map of TDs to array",
        "func": "msg.payload = Object.values(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 200,
        "wires": [
            [
                "c7f92319.220f68"
            ]
        ]
    },
    {
        "id": "8a75931.ea18c7",
        "type": "wot-scripting",
        "z": "98599c92.29678",
        "name": "Read Location",
        "operationType": "readProperty",
        "affordanceName": "location",
        "affordanceType": "",
        "inputValue": "",
        "filterMode": "affordanceName",
        "cacheMinutes": "",
        "outputVar": "loc",
        "outputPayload": false,
        "outputVarType": "msg",
        "x": 800,
        "y": 460,
        "wires": [
            [
                "30df97cb.e2704"
            ]
        ]
    },
    {
        "id": "3aa5a87e.8fc0e",
        "type": "ui_group",
        "name": "Control-Panel",
        "tab": "c2e5a8be.4d582",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "c9175c00.15155",
        "type": "ui_group",
        "name": "Monitor",
        "tab": "c2e5a8be.4d582",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c2e5a8be.4d582",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
